name: Debug Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - run: flutter pub get
      
      # هنا السر: نبني نسخة Debug بدلاً من Release
      - run: flutter build apk --debug --no-tree-shake-icons
      
      - uses: actions/upload-artifact@v3
        with:
          name: tijarati-debug
          path: build/app/outputs/flutter-apk/app-debug.apk
