name: Easy Debug Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Fix Android Permissions
        run: chmod +x android/gradlew

      - name: Build Debug APK
        run: |
          flutter clean
          flutter pub get
          flutter build apk --debug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: tijarati-debug
          path: build/app/outputs/flutter-apk/app-debug.apk
