name: Final Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      
      # بناء النسخة (Debug) لأنها الأسرع والأضمن
      - run: flutter build apk --debug --no-tree-shake-icons
      
      - uses: actions/upload-artifact@v3
        with:
          name: tijarati-app
          path: build/app/outputs/flutter-apk/app-debug.apk
