name: Force Debug APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - run: flutter pub get
      
      # ضمان تعديل الإصدار داخل السيرفر أيضاً
      - run: sed -i 's/minSdkVersion flutter.minSdkVersion/minSdkVersion 21/g' android/app/build.gradle
      
      # بناء نسخة Debug (بدون توقيع - مضمونة العمل)
      - run: flutter build apk --debug --no-tree-shake-icons
      
      - uses: actions/upload-artifact@v3
        with:
          name: tijarati-app
          path: build/app/outputs/flutter-apk/app-debug.apk
